<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="c1" class="com.training.CricketCoach" scope="singleton">
        <constructor-arg ref="sports"/>

    </bean>

    <bean id="c2" class="com.training.TennisCoach">
        <property name="kit" ref="sports"/>

    </bean>

    <bean id="sports" class="com.training.SportsKit">

    </bean>

</beans>